  .header{margin-bottom: 1em;}
  h1 { color: purple;
  text-align: center;}
	h2 { color: purple;
text-align: center;}
	h3 {color: maroon;
text-align: center;}
  h4 {color: teal;
text-align: center;}
  h5{color: #8D021F;
text-align: center;}
	p {color: #0A778F;
text-align: center;}
